.env.local
.env.*.local
frontend/.env*
backend/.env*
dist/
build/
backend/build/
backend/logs/
frontend/dist/
.idea/
.vscode/
.DS_Store
node_modules/
jspm_packages/
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*